* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
}

.container {
	margin: 5% 10%;
	text-align: center;
	background-color: green;
}

.board {
	display: flex;
  flex-direction: column;
}

.title {
}

.categories {

}

.grid {
}

.row {

}

.block {
	border: 1px solid black;
	padding: 1%;
	background-color: cornflowerblue;
}

h5 {
	color: yellow;
}
