* {
	margin: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
}

.container {
	width: 100vw;
	height: 100vh;
	text-align: center;
}

.board {
	display: flex;
	justify-content: center;
}

.team-container {
	display: flex;
	padding: 10px 250px;
	justify-content: space-evenly;
}

.teams {
	padding: 5px;
	border-radius: 15px;
	border: 1px solid lightblue;
	background-color: rgb(0, 100, 255);
}

.column {
}

.category {
	margin: 5px 5px 20px;
	padding: 45px 50px;
	border-radius: 15px;
	background: radial-gradient(
		circle,
		rgb(0, 0, 255) 20%,
		rgb(0, 50, 255) 40%,
		rgb(0, 100, 255) 60%,
		rgb(0, 150, 255) 80%,
		rgb(0, 200, 255) 100%
	);
}

.block {
	margin: 5px;
	width: 200px;
	display: flex;
	height: 110px;
	overflow: hidden;
	max-width: 200px;
	max-height: 110px;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	border: 1px solid lightblue;
	background: radial-gradient(
		circle,
		rgb(0, 0, 255) 20%,
		rgb(0, 50, 255) 40%,
		rgb(0, 100, 255) 60%,
		rgb(0, 150, 255) 80%,
		rgb(0, 200, 255) 100%
	);
}

h1 {
	padding: 5px;
}

.block h5 {
	height: 10px;
	flex: 1 1 40px;
}

h5 {
	color: yellow;
}

.question {
	display: none;
}

.fade-out {
	animation: fadeOut ease 8s;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
