* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
}

.container {
	margin: 5% 25%;
	padding: 4%;
	border: 1px solid black;
	border-radius: 15px;
	background-color: red;
}

.search {
	margin: 10% 20% 0;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
}

.search input[type='text'] {
    text-align: center;
    border-radius: 5px;
}

.screen {
	padding: 7%;
	border: 1px solid black;
	border-radius: 5px 5px 5px 25px;
	background-color: lightgrey;
    overflow: hidden;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 80%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 90%);
}

.display {
	padding: 1% 1%;
	border: 1px solid black;
	border-radius: 15px;
    background-color: lightblue;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}